/*v2*/
.nav {
  margin: 100px;
  background: #020a2d;
  margin-top: 0.75em;
  margin-left: 0.70em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.2em;
}

h2 {
  margin: 1em;
}

p {
  margin: 1em;
  font-size: 1.2em;
}

.card {
  background-color: #040e38d5;
  padding: 20px;
  margin-top: 20px;
}

.nav-links {
  text-decoration: none;
}

a {
  color: #fff;
}

a:visited {
  color: white;
}

p {
  color: white;
}

h2 {
  font-size: 2em;
}

.loin_du_bord {
  margin-left: 1.25em;
}



#ciel_decembre {
  display: flex;
  justify-content: center;
}



@media only screen and (max-width: 889px) {

      body {
        color:white;
        background-color:white;
        background-image:url(../image/etoile.png);
        background-attachment:fixed;
        background-position:center center;
        font-family: 'Montserrat', sans-serif;
    }

    body:first-letter {
      text-transform: capitalize;
    }

/***
**************HEADER***************
***/


  
  
  
  .links {
    display: none;
    }
  
  .active {
    display: inline;
    
  }
  
  #js-navbar-toggle {
    margin-top: 0.75em;
    margin-left: 0.65em;
    width: 25%;
  }

  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  
  .navbar {
    width: 85%;
    height: 4em;
    position: relative;
    
  }
  

  
  .nav-links {
    padding : 1em;
    margin : 1em; 
    opacity : 0.85;
    
  }
  
  .logo {
    
    width: 4em;
    height: 3.5em;
    margin-top: 5px;
    margin-right: 8px;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
  
  }
  
  #logo {
    width: 100%;
    height: 100%;
  }

  h1 {
    /*margin: 1em;*/
    font-size: 2em;
    display: flex;
    justify-content: center;
 
  }

  #titre span {
    border-bottom: 2px solid #fff;
    border-width : 3px;
    border-radius: 15%;
  }

  .barre_container {
    height: 4px;
    width: 80%;
    background-color: white;
    
  }

  footer {

    text-align: center;
  }

  #carte {
    width: 100%;
  }



/***
************ **********
***/







  /***
  contact
  ***/

  #carte-flex {
    display: flex;
    justify-content: center;
    padding-top: 1.75em;
  }

  .infos-contact-liens {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }


  .infos-contact {
    text-align: center;
    font-size: 1.5em;
  }

  /***
  ***Activite***
  ***/

  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }



    /***
  *** GALERIE
  ***/

  .img-galerie {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
  }

  .taille-image {
    width: 20em;
    height: 15em;
    
  }

  .img-solo {
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    border-radius: 15%;
    text-align: center;
  }

  .img-solo p {
    font-size: 1.5em;
  }




  /***
  ****membres observatoire****
  ***/

  .cartes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .carte {
    border: 0.1px solid #999;
    transition: 0.3s;
    width: 40%;
    margin: 15px;
  }
  
  .containercarte {
    padding: 2px 16px;
  }
  .carte img {
    height : 180px;
  }
  



  

  }








/*
************Vesrion desktop****************
*/



@media screen and (min-width: 890px) {
  .links {
    display: inline;
    font-size: 1.3em;
  }

  .nav {
    margin: 0;
    padding: 0;
  }
  
  .nav-links {
    display: inline;
    margin: 0.2em; 
    top: 55px;
  }

  body:first-letter {
    text-transform: capitalize;
  }

  body {
    color:white;
    background-color:white;
    background-image:url(../image/etoile.png);
    background-attachment:fixed;
    background-position:center center;
    font-family: 'Montserrat', sans-serif;
  }
  

  
  
  
  
  
  .logo {
      
    width: 1em;
    height: 3.5em;
    margin-top: 5px;
    margin-right: 9em;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
  
  }

  #logo {
    height: 130px;
    width: 150px;
  }

  #flex-titre {
    display: flex;
    justify-content: center;
  }
  
  #titre {
    text-align: center;
    margin-top: 25px;
    font-size: 2.45em;
    padding-bottom: 1em;
    width: 50%;

    
    
  }

  #titre span {
    border-bottom: 2px solid #fff;
    border-width : 3px;
    border-radius: 15%;
  }

  .border-links {
    border-right: 2px solid white;
    padding-right: 2.5em;
  }

  footer {
    text-align: center;
    margin-bottom: 20px;
  }

  #footer_b {
    position: absolute;
    bottom: 0.25em;
    right: 41.75%;
  }



      /***
  ****Accueil****
  ***/

  #presentation {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  #lunette_img {
    margin: 2em;

  }









  /***
  contact
  ***/

  #carte-flex {
    display: flex;
    justify-content: center;
    padding-top: 1.75em;
  }

  .infos-contact-liens {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }


  .infos-contact {
    text-align: center;
    font-size: 1.5em;
  }

  #h-contact {
    font-size: 2em;
    padding: 1.5em;
  }


  /***
  *** GALERIE
  ***/

  .img-galerie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
  }

  .taille-image {
    width: 20em;
    height: 15em;
    
  }

  .img-solo {
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    border-radius: 10%;
    text-align: center;
  }

  .img-solo p {
    font-size: 1.5em;
  }



  /***
  ****Activité****
  ***/

  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  


  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
  }





    /***
  ****membres observatoire****
  ***/

  .cartes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .carte {
    border: 0.1px solid #999;
    transition: 0.3s;
    width: 40%;
    margin: 15px;
  }
  
  .containercarte {
    padding: 2px 16px;
  }
  .carte img {
    height : 550px;
  }


}




